.maintenance-banner{
    display: block;
    margin: 30px;
    text-align: center;
    border: 5px solid #CC0000;
    border-radius: 20px;
}

.maintenance-header{
    font-size: 40px;
    color: #8C0000;
    font-weight: 900;
    margin: 3% 25% 2%;
    font-family: "bennet-banner-condensed", serif;
    color: red;
    background-repeat: no-repeat;
    background-image: linear-gradient(120deg, #CC0000 0%, #CC0000 0%);
    background-size: 0% 100%;
    background-position: 0% 100%;
    transition-property: background-size;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    -webkit-transition-property: background-size color;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;

}

.maintenance-header:hover{
    color: #fff;
    background-size: 100% 100%;
}

.maintenance-body{
    font-family: "europa", sans-serif;
    font-weight: 400;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
}

@media (max-width: 450px){

    .maintenance-header{
        font-size: 17px;
    }

    .maintenance-body{
        font-size: 13px;
    }
}